@media screen and (max-width: 992px) {
    /** PAGE STRUCTURE **/
    html {
        background-size: 250%;
    }

    /** HEADER AND NAVIGATION **/
    .navbar button {
        width: 23%;
    }

    /** TYPOGRAPHY **/
    h1 {
        font-size: 56px;
    }

    /** CONTENT & MEDIA **/
    #meBox {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    #picture {
        display: flex;
        justify-content: center;
    }

    #bio {
        width: 95%;
        margin-top: 4px;
        float: none;
    }

    #workBox {
        width: 80%;
        border-radius: 5px;
        margin: 0 auto;
        font-family: 'Palanquin', sans-serif;
    }

    .projects {
        position: relative;
        display: inline-block;
        width: 50%;
    }

    /** FOOTER **/
    .wrapper {
        min-height: 100%;
        margin-bottom: -90px;
    }

    footer {
        background-color: rgba(255, 165, 0, 0.85);
        position: absolute;
        left: 0;
        bottom: -300px;
        height: 90px;
        width: 100%;
        overflow:hidden;
    }
}

@media screen and (max-width: 640px) {
    /** PAGE STRUCTURE **/
    html {
        background-size: 300%;
    }

    /** HEADER AND NAVIGATION **/
    .navbar button {
        width: 23%;
    }

    /** TYPOGRAPHY **/
    h1 {
        font-size: 56px;
    }

    /** CONTENT & MEDIA **/
    #meBox {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    #picture {
        display: flex;
        justify-content: center;
    }

    #bio {
        width: 95%;
        margin-top: 4px;
        float: none;
    }

    #workBox {
        width: 80%;
        border-radius: 5px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        font-family: 'Palanquin', sans-serif;
    }
    /** FOOTER **/
    .wrapper {
        min-height: 100%;
        margin-bottom: -90px;
    }

    footer {
        background-color: rgba(255, 165, 0, 0.85);
        position: absolute;
        left: 0;
        bottom: -300px;
        height: 90px;
        width: 100%;
        overflow:hidden;
    }
}
