/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /** PAGE STRUCTURE **/

    /*!** HEADER AND NAVIGATION **!*/
   .navigation {
       position: fixed;
       height: 50px;
       z-index: 1000;
       display: flex;
       flex-direction: row;
       float: none;
       overflow: hidden;
       width: 100%;
   }

    /*!** TYPOGRAPHY **!*/
    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 12px;
    }

    h4 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }

    /*!** CONTENT & MEDIA **!*/
    #introBox {
        width: 50%;
        margin:60% auto 100%;
        padding-top: 50px;
        z-index: 1;
    }

    #aboutMeBox {
        margin-bottom: 40%;
        padding-top: 50px;
        z-index: 1;
    }

    .quote {
        display: flex;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    #workBox {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto 50%;
    }

    .projects {
        margin: 0 5% 5%;
    }

    #workBox img {
        width: 200px;
        height: 100px;
        display: flex;
        margin: 10px auto;

    }

    .codeImg {
        display: flex;
        justify-content: center;
    }

    .icons {
        width: 100%;
        color: rgba(0, 0, 0, 0.6);
        margin: 0 auto 5px;
        position: fixed;
        bottom: 0px;
        opacity: 0.7;
        display: flex;
        justify-content: center;
    }

    .icons a {
        display: flex;
        justify-content: center;

    }
}