html {
    background-image: url("../images/galaxyBG-2.jpg");
    background-size: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: rgba(255, 255, 255, 0.0);
    height: 100%;
    margin: 0;
}

.name {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    height: 7%;
    border-radius: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar button {
    background: rgba(255, 255, 255, 0.7);
    width:24.6%;
    border: none;
    color: black;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    border-radius: 10px;
}

h4 {
    font-family: 'Palanquin', sans-serif;
}

h2{
    font-family: 'Lobster', cursive;
    color: black;
}

h3 {
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 30px;
}


h1 {
    font-size: 48px;
    font-family: 'Lobster', cursive;
    color: rgba(245, 245, 245, 0.9);
}

#meBox {
    background: rgba(255, 255, 255, 0.7);
    width: 55%;
    padding: 20px;
    border-radius: 5px;
    display: block;
    margin: 30px auto;
    font-family: 'Palanquin', sans-serif;
}

.connect,
.portfolioHeader {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.site-footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

#workBox {
    background: rgba(255, 255, 255, 0.8);
    width: 65%;
    padding: 0 20px 0 30px;
    border-radius: 5px;
    margin: 30px auto;
    font-family: 'Palanquin', sans-serif;
}

.container {
    margin: 0 auto 0 auto;
    padding-bottom: 20px;
}

#picture {
    display: inline-block;
    position: relative;

}

#bio {
    width: 70%;
    display: inline-block;
    position: relative;
    float: right;

}

footer {
    background-color: rgba(255, 165, 0, 0.85);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    overflow:hidden;
}

@media screen and (max-width: 640px) {
    html {
        background-image: url("../images/galaxyBG-2.jpg");
        background-size: 350%;
    }

    h1 {
        font-size: 20px;
    }

    .navbar button {
        background: rgba(255, 255, 255, 0.7);
        width:20%;
        font-size: 16px;
    }

    #meBox {
        background: rgba(255, 255, 255, 0.7);
        height: 100%;
        width: 80%;
        padding: 20px;
        border-radius: 5px;
        margin: 30px auto;
        font-family: 'Palanquin', sans-serif;
        display: flex;
        flex-direction: column;
    }

    #picture {
        display: flex;
        justify-content: center;
    }

    #bio {
        width: 95%;
        margin-top: 4px;
        float: none;
    }

    #workBox {
        background: rgba(255, 255, 255, 0.8);
        width: 80%;
        padding: 0 20px 0 30px;
        border-radius: 5px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        font-family: 'Palanquin', sans-serif;
    }

    h3 {
        font-family: 'Lobster', cursive;
        color: black;
        font-size: 20px;
    }

    .wrapper {
        min-height: 100%;
        margin-bottom: -90px;
    }
    footer {
        background-color: rgba(255, 165, 0, 0.85);
        position: absolute;
        left: 0;
        bottom: -140px;
        height: 90px;
        width: 100%;
        overflow:hidden;
    }
}