/**
 * CH01 - Resets
 * CH02 - Typography
 * CH03 - Page Structure
 * CH04 - Header & Navigation
 * CH05 - Content & Media
 * CH06 - Footer
 * CH07 - Miscellaneous
**/


/** PAGE STRUCTURE **/
html {
    background-image: url("../images/galaxyBG-2.jpg");
    background-size: 100%;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    display: table;
    width: 100%;
}

body {
    background: rgba(255, 255, 255, 0.0);
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

.wrapper {
    height: auto;
}

.container {
    margin: 0 auto 0 auto;
    padding-bottom: 20px;
}

/** HEADER AND NAVIGATION **/
.navbar {
    display: flex;
    justify-content: center;
}

.navbar button {
    background: rgba(255, 255, 255, 0.7);
    width:20%;
    border: none;
    color: black;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    border-radius: 10px;
}

/** TYPOGRAPHY **/
h1 {
    display: flex;
    justify-content: center;
    font-size: 56px;
    font-family: 'Lobster', cursive;
    color: rgba(245, 245, 245, 0.9);
    margin-bottom: -14px;
}

h2{
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    color: rgba(245, 245, 245, 0.9);
}

h3 {
    font-family: 'Lobster', cursive;
    color: black;
    font-size: 30px;
}

h4 {
    font-family: 'Palanquin', sans-serif;
}


/** CONTENT & MEDIA **/
#meBox {
    background: rgba(255, 255, 255, 0.7);
    width: 55%;
    padding: 20px;
    border-radius: 5px;
    display: block;
    margin: 30px auto;
    font-family: 'Palanquin', sans-serif;
}

#picture {
    display: inline-block;
    position: relative;
}

#bio {
    width: 70%;
    display: inline-block;
    position: relative;
    float: right;
}

#workBox {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    width: 60%;
    border-radius: 5px;
    font-family: 'Palanquin', sans-serif;
}

.projects {
    position: relative;
    width: 35%;
}

.connect,
.portfolioHeader {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/** FOOTER **/
.site-footer {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

footer {
    background-color: rgba(255, 165, 0, 0.85);
    display: table-row;
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
}



@media screen and (max-width: 1115px) {
    html {
        background-size: 250%;
    }

    #workBox {
        background: rgba(255, 255, 255, 0.8);
        width: 75%;
        margin: 10px auto;
        font-family: 'Palanquin', sans-serif;
    }
}