/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /** PAGE STRUCTURE **/

    /*!** HEADER AND NAVIGATION **!*/
   .navigation {
       background: rgba(245, 245, 245, 1);
       position: fixed;
       height: 50px;
       z-index: 1;
       display: flex;
       flex-direction: row;
       float: none;
       overflow: hidden;
       width: 100%;
       padding-top: 0px;
       margin-left: -20px;
       margin-top: 0px;
   }

    .navigation button {
        margin-top: 10px;
        outline: 0;
        text-decoration: none;
    }

    button:hover {
        color: rgba(50, 50, 50, 0.7);
    }

    /*!** TYPOGRAPHY **!*/
    h1 {
        font-size: 20px;
    }

    h3 {
        font-size: 12px;
    }

    h4 {
        font-size: 18px;
    }

    h6 {
        font-size: 16px;
    }

    /*!** CONTENT & MEDIA **!*/
    #introBox {
        width: 50%;
        margin:60% auto 100%;
        padding-top: 50px;
        z-index: 1;
    }

    #aboutMeBox {
        margin-bottom: 40%;
        padding-top: 50px;
        z-index: 1;
    }

    .quote {
        display: flex;
        justify-content: center;
        padding-left: 5%;
        padding-right: 5%;
    }

    #workBox {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto 50%;
    }

    .projects {
        margin: 0 5% 5%;
    }

    #workBox img {
        width: 200px;
        height: 100px;
        display: flex;
        margin: 10px auto;

    }

    .codeImg {
        display: flex;
        justify-content: center;
    }

    .icons {
        width: 100%;
        background: rgba(255, 255, 255, 1);
        margin: 0 auto 0;
        position: fixed;
        bottom: 0px;
        opacity: 1;
        display: flex;
        justify-content: center;
        z-index: 1000;
        height: 50px;
        text-decoration: none;
        outline: 0;
    }

    .icons a {
        display: flex;
        justify-content: center;
        margin-top: 6px;
        text-decoration: none;
        outline: 0;
    }

    .icons a:hover {
        color: rgba(50, 50, 50, 0.7);
        text-decoration: none;
    }

    .icons a:focus {
        outline: 0;
        text-decoration: none;
    }

    .submit,
    .reset {
        font-size: 24px;
    }
}