@mixin perfectHW {
  width: 100%;
  height: 100%;
}

@mixin button {
  background: $white;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  margin-bottom: 10%;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  &:hover {
    color: $offWhite
  }
}

@mixin navigation {
  position: fixed;
  margin: 1%;
  display: flex;
  flex-direction: column;
  float: left;
}

@mixin introBanner {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 90px;
  font-family: $rubikFont;
  color: rgba(245, 245, 245, 0.5);
  margin: 0 auto;
}

@mixin icons {
  color: rgba(0, 0, 0, 0.6);
  position: fixed;
  bottom: 0;
  margin-bottom: 15px;
  opacity: 0.7;
  a {
    margin-right: 10px;
  }
}

@mixin quote {
  text-align: center;
  margin-top: 40%;
  font-family: $quoteFont;
  font-size: 24px;
  color: black;
}