body{
  background-color: #310255;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  color: #fafafb;
}

.navigation{
  background-color: #01e471;
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  z-index: 99;
}

.nav-wrapper{
  max-width: 200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-wrapper a:hover{
  color: #310255;
}

.section {
  height: 100vh
}

.intro,
.skills,
.projects,
.contact  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

span {
  color: #01e471;
  font-weight: 400
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  margin-bottom: 2rem
}

h3 {
  font-size: 20px;
}

a {
  color: #fafafb;
  cursor: pointer;
  transition: .4s all;
  text-decoration: none;
}

i {
  font-size: 100px;
  color: #fafafb;
  margin-top: 2rem;
}


.body-wrapper {
  max-width: 680px;
  margin: auto;
}

.skills-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;
  position: relative;

}

.skill-img{
  display: block;
  transform: translateY(1rem);
  transition: .4s all
}

.skill-hover{
  margin-top: .25rem;
  text-align: center;
  transition: .4s all;
  opacity: 0;
  transform: translateY(-1rem);
}

.single-skill{
  cursor: pointer;
}

.single-skill:hover .skill-img{
  transform: translateY(0rem)
}

.single-skill:hover .skill-hover{
  opacity: 1;
  transform: translateY(0rem);
}

.cert-wrapper{
  text-align: center;
}

.cert-wrapper h2{
  margin-bottom: 1rem;
}

.cert-wrapper h3{
  margin-bottom: .5rem;
}

.projects-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects-a{
  display: block;
  margin: 1rem 0;
  position: relative;
}

.projects-shot{
  height: 230px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 10;
  transition: .4s all;
}

.projects-hover {
  position: absolute;
  top: 0;
  opacity: 0;
}

.projects-a:hover .projects-hover{
  opacity: 1
}




.contact-wrapper {
  text-align: center;
}

.contact i {
  font-family: fontAwesome;
  margin: 0 1rem;
  font-size: 60px;
  transition: .4s all;
}

.contact i:hover {
  color: #01e471;
}

footer {
  background-color: #fafafb;
  text-align: center;
  color: #310255;
  padding: .5rem 0
}
