<!--About Me-->
<div id="aboutMeBox">
    <div class="row">
        <div class="col-md-12">
            <h1>About Me</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-3 quote">
            <h3>Inspiration is for amateurs -<br><br> the rest of us just show up and get to work.<br><br> -Chuck Close</h3>
        </div>

        <div class="col-md-3" id="picture">
            <img src="app/portfolio/layout/assets/images/headshot.jpg" alt="1" height="400">
        </div>


        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class ="col-md-8" id="bio">
            <h6>Started working with the regular gang, HTML, CSS and JavaScript. <br>
                Hung around a while with JQuery. <br>
                Found some love with MySQL <br>
                Started a side affair with Sequelize. <br>
                Won over by MongoDB. <br>
                Found true love with Angularjs <br>
            </h6>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>