<div id="workBox">

    <div class="row">
        <div class="col-md-12 portfolioHeader">
            <h1>Projects & Code</h1>
        </div>
    </div>

    <div class="row projects"
         ng-repeat='projects in ShowCaseVM.projects'
         show-case-data="showCase">

        <div class="row projectNameDiv">

            <div class="projectName col-md-4"></div>

            <h4 class="projectName col-md-4">{{projects.name}}</h4>

            <div class="projectName col-md-4"></div>

        </div>

        <div class="row">
            <div class="col-md-1 images"></div>

            <div class="col-md-5 codeImg">
                <a href="{{projects.linkCode}}">
                <img class="pics" src="{{projects.imgCode}}" width="500" height="300"></a>
            </div>

            <div class="col-md-5 siteImg">
                <a href="{{projects.link}}">
                <img class="pics" src="{{projects.img}}" width="500" height="300"></a>
            </div>

            <div class="col-md-1"></div>
        </div>

    </div>

</div>
