
    <button ng-repeat='navbar in NavbarVM.navbarButtons'
             navbar-data="navbar"
             ng-click="NavbarVM.goTo(navbar.path)"
             class="{{navbar.name}}">
         <i class="{{navbar.img}}" aria-hidden="true"></i> {{navbar.name}}
     </button>


<div class="icons">
    <a href="https://github.com/jessicaprado"><i class="fa fa-github fa-3x" aria-hidden="true"></i> </a>
    <a href="https://www.linkedin.com/in/jessica-prado-19269226"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
</div>